---
export interface Props {
	img: string
	nombre: string
	descuento: string
	descripcion: string
	url: string
}

const { img, nombre, descuento, descripcion, url } = Astro.props
const hl = false //sadly
console.log(url)
---

<button
	id='card'
	data-url={url}
	onclick='() => window.location.href = url'
	class={hl
		? 'flex justify-between max-h-[150px] md:max-h-[250px] lg:max-h-[300px] cursor-pointer rounded highlighted'
		: 'relative flex justify-between max-h-[150px] md:max-h-[250px] lg:max-h-[300px] rounded cursor-pointer'}
>
	<a href={url} class='self-center'>
		<img
			class='rounded-tl rounded-bl w-[120px] h-[150px] lg:w-[190px] lg:h-[200px] object-cover'
			src={img}
			alt={nombre}
		/>
	</a>
	<div class='p-3 md:p-6  w-1/2 flex-grow text-left'>
		<h5 class='text-gray-900 text-base md:text-xl font-medium mb-1 md:mb-2'>
			{nombre}
		</h5>
		{
			descuento && (
				<span class='absolute right-0 top-0 px-2 py-1 md:p-2 rounded-tr font-medium'>
					{descuento}%
				</span>
			)
		}
		<p class='text-gray-700 text-xs md:text-base mb-4'>
			{descripcion}
		</p>
		<a href={url} class="absolute text-xs  right-[1px] bottom-[1px] md:text-base md:right-[5px]  md:bottom-[5px] text-md px-3 py-3 transition duration-200 leading-none rounded mt-4 lg:mt-0 font-semibold hover:bg-[#161616]">Ver más</a>
	</div>
</button>

<style>
	#card {
		background-color: rgb(27, 27, 27);
	}
	span {
		background-color: #e7b242;
		color: #0e0e0e;
	}
</style>
