---
export interface Props {
	img: string,
    nombre: string,
    descuento: string,
    descripcion: string,
    url: string

}

const { img, nombre, descuento, descripcion, url } = Astro.props
---

<!-- <article class="w-1/2 flex gap-2 m-3">
	<img src={img} alt={nombre} class="object-cover w-[200px] max-h-[200px]"/>
	<div class='relative text'>
		<h2 class="text-2xl font-bold ">{nombre}</h2>
		{descuento && <span class="absolute right-2 top-0">{descuento}%</span> }
		<p>
			{descripcion}
		</p>
		{url && <a href={url} class="italic text-right w-full inline-block">Saber más</a>}
	</div>
</article> -->

<div class="flex justify-center">
	<a href={url} class="rounded-lg shadow-lg bg-white max-w-sm">
	  <a href="#!">
		<img class="rounded-t-lg" src={img} alt={nombre}/>
	  </a>
	  <div class="p-6">
		<h5 class="text-gray-900 text-xl font-medium mb-2">{nombre}</h5>
		{descuento && <span class="absolute right-2 top-0">{descuento}%</span> }
		<p class="text-gray-700 text-base mb-4">
		  {descripcion}
		</p>
	  </div>
	</a>
  </div>